example

# .gitignore copy
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
.idea/
*.sublime-workspace
.vscode/*
*.DS_Store
.AppleDouble
.LSOverride
*.swp
*.psd
Thumbs.db
ehthumbs.db
*.lnk